#__Satellite
#__by__Jihoon_Kim_
#__based_on_AdwaitaPod_and_Adwaitapod_dark_by_Dook
#__licence__CC-BY-SA 4.0
#__version__1.1
#__2025
#__target resolution 320x240
#__tested on Surfans F20
#
wps: /sdcard/.rockbox/wps/Satellite.wps
sbs: /sdcard/.rockbox/wps/Satellite.sbs
font: /sdcard/.rockbox/fonts/27-Cantarell-Regular.fnt
foreground color: ffffff
background color: 292829
line selector start color: e7e7e7
line selector text color: 000000
list padding: 2
