# Theme: bunnyPod
# Version 1.0
# Last Update: 02/23/2026
# License: CC-BY-SA 3.0
# By: Monica G.
# Description: Cute bunny theme :3 featuring LanaPixel font by eishiya
# All pixel art is by me!!
# Code based on: 1ST_GEN_REMIX by me! which was based on SNARTY by Simon Anden and BONES by Chuck Largo!

#--CFG File--

wps: /sdcard/.rockbox/wps/bunnyPod.wps
sbs: /sdcard/.rockbox/wps/bunnyPod.sbs
fms: -
selector type: bar (inverse)
background color: bdd3ff
foreground color: 08184a
statusbar: off
scrollbar: off
show icons: off
filetype colours: -
backdrop: -
list padding: 0


#some cute color combos!
#background / foreground
#D6CFFF / 8475DE
#E7AAFF / 9459DE
#E7E7DE / 6B6D63
#FFBEE7 / E72C9C
